.login-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  background-color: #043A6B;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.app-title {
  color: white;
  font-size: 50pt;
}

.login-btn {
  background-color: #007929;
  border: 0;
  width: 245px;
  border-radius: 9px;
  padding: 15px;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

