<div class="container">

  <form class="form-inline" [formGroup]="addEventForm">

    <div class="form-group">
      <label for="subject">Subject:</label>
      <input class="form-control"
             id="subject"
             placeholder="Enter event subject"
             name="subject"
             formControlName="subject">
    </div>

    <select multiple formControlName="usersSelect">
      <option value="">Select Attendees</option>
      <option *ngFor="let user of users$ | async" [value]="user.id">{{user.name}}</option>
    </select>

  </form>

  <app-date-time-picker
    [(ngModel)]="event.start"
    placeholder="Not set">
  </app-date-time-picker>

  <app-date-time-picker
    [(ngModel)]="event.end"
    placeholder="Not set">
  </app-date-time-picker>

  <button type="submit" class="btn btn-default" (click)="onFormSubmit()">Submit</button>
</div>
