<div class="container">

  <form class="form-inline" [formGroup]="addEventForm">

    <div class="form-group">
      <label for="subject" class="subject__label">Subject:</label>
      <input class="form-control"
             id="subject"
             placeholder="Enter event subject"
             name="subject"
             formControlName="subject">
    </div>


    <label for="attendees" class="attendees__label">Select Attendees:</label>
    <select multiple formControlName="usersSelect"
            id="attendees"
            size="3"
            class="attendees__list">
      <!--<option value="">Select Attendees</option>-->
      <option *ngFor="let user of users$ | async" [value]="user.id">{{user.name}}</option>
    </select>

    <div class="form-group xs-3">
      <label for="duration" class="subject__label">Duration in minutes:</label>
      <input class="form-control"
             type="number"
             id="duration"
             placeholder="Duration in minutes"
             name="duration"
             formControlName="duration">
    </div>

  </form>


  <div class="date-time__picker">
    <app-date-time-picker
      class="app-date-time-picker"
      [(ngModel)]="event.start"
      placeholder="Not set"
      (onDateTimeChanged)="onStartTimeChanged($event)">
    </app-date-time-picker>
  </div>

  <p>Event time: {{this.event.start  | date:'yyyy-MM-dd HH:mm'}} - {{this.event.end  | date:'yyyy-MM-dd HH:mm'}}</p>
  <button type="submit" class="btn btn-default btn-primary" (click)="onFormSubmit()">Submit</button>
</div>
