app-add-event-form {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-inline {
  display: flex;
  align-items: flex-start;
  max-width: 315px;
  margin-bottom: 35px;
}

.form-group {
  width: 147%;
}

.subject__label {
  margin-left: 4px;
}

.form-control {
  margin-bottom: 35px;
  width: 100%;
}

.subject__label {
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.attendees__label {
  margin-left: 4px;
}

.attendees__list {
  margin-left: 10px;
  width: 130px;
}

.date-time__picker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.btn {
  margin: 0 auto;
}

.app-date-time-picker {
  width: 200px;
}

input.error {
  border: 1px solid red;
  color: red;
  box-shadow: 0 0 5px red;
}

.event-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}

.time-details-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.form-half-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
